In [3]:
from datetime import date
from pyspark.sql import Row

In [13]:

# The following are types for each record, 
# for each we explicitly cast to force the types in the Row                                                                                                                     

# sample line: id,SFN200904070         
def rowFromId(record):
    game_id = record[0]
    home_team = game_id[:3]
    yearStr = game_id[3:7]
    monthStr = game_id[7:9]
    dayStr = game_id[9:11]
    game_date = date(int(yearStr), int(monthStr), int(dayStr))
    game_date_seq = int(game_id[11:])
    return Row(
        game_id=game_id,
        home=home_team,
        game_date=game_date,
        game_date_seq=game_date_seq       
    )


# sample line: start,howar001,"Ryan Howard",0,4,3               
# sample line: sub,waldj001,"Jordan Walden",0,0,1
def rowFromStart(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2]  
    return Row(
        game_id = game_id,
        seq = seq,
        player_id = fields[1],
        # skip denormalized name in fields[2]                                                                                                                    
        home = ("1" == fields[3]),
        battingOrder = fields[4],
        position = fields[5]
    )    

# sample line: play,6,1,bondb001,02,CFX,HR/9.3-H;2-H;1-H                                                                                                         
def rowFromPlay(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2]
    countBalls = None
    countStrikes = None
    if (fields[4].isdigit()):
        countBalls = int(fields[4][0])
        countStrikes = int(fields[4][1])

    return Row(
        game_id = game_id,
        seq = seq,
        inning = int(fields[1]),
        topOfInning = ("0" == fields[2]),
        player_id = fields[3],
        countBalls = countBalls,
        countStrikes = countStrikes,
        pitch_seq = list(fields[5])
    )


# sample line: com,"$Career homer 587 to pass Frank Robinson for 4th all-time"
# or sample multi-line comment:
# 
# com,"$Hall caught in rundown while Winn advanced to 3B; both players"
# com,"ended up on 3B and Winn is tagged out; Hall thought he was the one"
# com,"who was out and stepped off the bag and is tagged out"
def rowFromCom(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2] 
    return Row(
        game_id = game_id,
        seq = seq,
        comment = fields[1],
    ) 

# sample line: data,er,fyhrm001,0
def rowFromData(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2] 
    return Row(
        game_id = game_id,
        seq = seq,
        type = fields[1],
        key = fields[2],
        value = fields[3]
    ) 

# sample line: info,site,SFO03
def rowFromInfo(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2] 
    return Row(
        game_id = game_id,
        seq = seq,
        key = fields[1],
        value = fields[2],
    ) 


# sample line: badj,bonib001,R
# sample line: padj,harrg001,L
# sample line: ladj,0,9
def rowFromAdj(record):
    game_id = record[0]
    seq = record[1]
    fields = record[2] 
    return Row(
        game_id = game_id,
        seq = seq,
        adj = fields[0],
        key = fields[1],
        value = fields[2]
    ) 

## TODO consider making this a class, a pain to load in spark tho
PARSERS_FOR_TYPES = {
    'id': rowFromId,
    'start': rowFromStart,
    'sub': rowFromStart,
    'play': rowFromPlay,
    'com': rowFromCom,
    'data': rowFromData,
    'info': rowFromInfo,
    'padj': rowFromAdj,
    'badj': rowFromAdj,
    'ladj': rowFromAdj,
}

    
def getSupportedTypes():
    return PARSERS_FOR_TYPES.keys()
    
def wrappedParser(parser, record):
    returnVal = None
    try:
        returnVal = parser(record)
    except:
        print("WARN: ", parser, record) # TODO use logging.warn
        raise 
    return returnVal
    
def rowParserForType(rowType):    
    return lambda record: wrappedParser(PARSERS_FOR_TYPES[rowType], record)


getSupportedTypes()

['info', 'start', 'play', 'sub', 'data', 'ladj', 'padj', 'com', 'id', 'badj']

In [14]:
retroFilePath = "retrosheet-data/2010seve/*.EV[AN]"

retrosheet = sc.newAPIHadoopFile( 
    retroFilePath, 
    'org.apache.hadoop.mapreduce.lib.input.TextInputFormat', 
    'org.apache.hadoop.io.LongWritable', 
    'org.apache.hadoop.io.Text', 
    conf={
        'textinputformat.record.delimiter':'\nid,'
    }
)


# proc to process a whole game's events. 
# by using '\nid,' as our delim above, we get called with a whole game's
# events. we resplit them on newlines so lines can be parsed with event type
# specific parsers, but first prepend the game_id and a sequence into the game's
# events to each record.
def processRecord( (k,recordsBetweenIdLines) ):

    # first, resplit the events
    events = recordsBetweenIdLines.splitlines()

    # now, get the game_id. 
    
    # if we're the first record, then we still have the "id," token
    if (events[0].startswith("id,")):
        game_id = events[0].split(",")[1]  
    else: 
        # otw we're a nonfirst record that had its "id," part consumed 
        # as the delim. only the game_id remains on the first line so use it
        game_id = events[0]   

    # now emit lines prepended with game_id and the seq into the game, then
    # the original lines from the file.
    return ((
        game_id,
        idx,
        record.split(",")
    ) for idx, record in enumerate(events))

# first do a flatmap to get the events between "id" records and to 
# process them using the proc above
combinedFlattenedEvents = retrosheet.flatMap(processRecord)

# next create a dataframe for each row parser that we know 
# about from the list provided by getSupportedTypes()

dataFrameByType = {}
for recType in getSupportedTypes():
    curRdd = combinedFlattenedEvents.filter(
        lambda rec: rec[2][0] == recType
    ).map(rowParserForType(recType))
    dataFrameByType[recType] = sqlContext.createDataFrame(curRdd)
    # print(recType,dataFrameByType[recType].count())
    dataFrameByType[recType].printSchema()
    dataFrameByType[recType].show(10)

print("done")

root
 |-- game_id: string (nullable = true)
 |-- key: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- value: string (nullable = true)

+------------+---------+---+----------+
|     game_id|      key|seq|     value|
+------------+---------+---+----------+
|ANA201004050|  visteam|  2|       MIN|
|ANA201004050| hometeam|  3|       ANA|
|ANA201004050|     site|  4|     ANA01|
|ANA201004050|     date|  5|2010/04/05|
|ANA201004050|   number|  6|         0|
|ANA201004050|starttime|  7|    7:08PM|
|ANA201004050| daynight|  8|     night|
|ANA201004050|    usedh|  9|      true|
|ANA201004050|  umphome| 10|  mcclt901|
|ANA201004050|    ump1b| 11|  everm901|
+------------+---------+---+----------+
only showing top 10 rows

root
 |-- battingOrder: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- home: boolean (nullable = true)
 |-- player_id: string (nullable = true)
 |-- position: string (nullable = true)
 |-- seq: long (nullable = true)

+------------+------------+-----+---------+--------+---+
|battingOrder|     game_id| home|player_id|position|seq|
+------------+------------+-----+---------+--------+---+
|           1|ANA201004050|false| spand001|       8| 27|
|           2|ANA201004050|false| hudso001|       4| 28|
|           3|ANA201004050|false| mauej001|       2| 29|
|           4|ANA201004050|false| mornj001|       3| 30|
|           5|ANA201004050|false| cuddm001|       9| 31|
|           6|ANA201004050|false| kubej002|      10| 32|
|           7|ANA201004050|false| yound003|       7| 33|
|           8|ANA201004050|false| hardj003|       6| 34|
|           9|ANA201004050|false| puntn001|       5| 35|
|           0|ANA201004050|false| bakes002|       1| 36|
+------------+------------+-----+---------+--------+---+
only showing top 10 rows

root
 |-- countBalls: long (nullable = true)
 |-- countStrikes: long (nullable = true)
 |-- game_id: string (nullable = true)
 |-- inning: long (nullable = true)
 |-- pitch_seq: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- player_id: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- topOfInning: boolean (nullable = true)

+----------+------------+------------+------+--------------------+---------+---+-----------+
|countBalls|countStrikes|     game_id|inning|           pitch_seq|player_id|seq|topOfInning|
+----------+------------+------------+------+--------------------+---------+---+-----------+
|         2|           2|ANA201004050|     1|[C, S, B, F, F, B...| spand001| 47|       true|
|         0|           1|ANA201004050|     1|              [F, X]| hudso001| 48|       true|
|         1|           1|ANA201004050|     1|           [C, B, X]| mauej001| 49|       true|
|         3|           2|ANA201004050|     1|[B, B, C, C, F, B...| aybae001| 50|      false|
|         0|           1|ANA201004050|     1|              [C, X]| abreb001| 51|      false|
|         0|           0|ANA201004050|     1|                 [B]| huntt001| 52|      false|
|         3|           0|ANA201004050|     1|  [B, ., B, 2, B, B]| huntt001| 53|      false|
|         0|           2|ANA201004050|     1|           [C, F, X]| matsh001| 54|      false|
|         1|           1|ANA201004050|     1|           [B, C, X]| morak001| 55|      false|
|         2|           0|ANA201004050|     1|           [B, B, X]| rivej001| 56|      false|
+----------+------------+------------+------+--------------------+---------+---+-----------+
only showing top 10 rows

root
 |-- battingOrder: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- home: boolean (nullable = true)
 |-- player_id: string (nullable = true)
 |-- position: string (nullable = true)
 |-- seq: long (nullable = true)

+------------+------------+-----+---------+--------+---+
|battingOrder|     game_id| home|player_id|position|seq|
+------------+------------+-----+---------+--------+---+
|           0|ANA201004050|false| craij001|       1| 91|
|           0|ANA201004050| true| jepsk001|       1|103|
|           9|ANA201004050|false| thomj002|      11|106|
|           9|ANA201004050|false| harrb001|       5|113|
|           0|ANA201004050|false| mijaj001|       1|116|
|           0|ANA201004050| true| rodnf001|       1|121|
|           0|ANA201004050|false| neshp001|       1|128|
|           0|ANA201004050| true| fuenb001|       1|135|
|           0|ANA201004060| true| palmm001|       1| 97|
|           0|ANA201004060|false| duenb001|       1|113|
+------------+------------+-----+---------+--------+---+
only showing top 10 rows

root
 |-- game_id: string (nullable = true)
 |-- key: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- type: string (nullable = true)
 |-- value: string (nullable = true)

+------------+--------+---+----+-----+
|     game_id|     key|seq|type|value|
+------------+--------+---+----+-----+
|ANA201004050|bakes002|139|  er|    4|
|ANA201004050|craij001|140|  er|    0|
|ANA201004050|mijaj001|141|  er|    2|
|ANA201004050|neshp001|142|  er|    0|
|ANA201004050|weavj003|143|  er|    3|
|ANA201004050|jepsk001|144|  er|    0|
|ANA201004050|rodnf001|145|  er|    0|
|ANA201004050|fuenb001|146|  er|    0|
|ANA201004060|blacn001|135|  er|    3|
|ANA201004060|duenb001|136|  er|    0|
+------------+--------+---+----+-----+
only showing top 10 rows

root
 |-- adj: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- key: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- value: string (nullable = true)

+----+------------+---+---+-----+
| adj|     game_id|key|seq|value|
+----+------------+---+---+-----+
|ladj|OAK201309040|  0|165|    5|
|ladj|OAK201309040|  0|167|    7|
+----+------------+---+---+-----+

root
 |-- adj: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- key: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- value: string (nullable = true)

+----+------------+--------+---+-----+
| adj|     game_id|     key|seq|value|
+----+------------+--------+---+-----+
|padj|ARI201508280|vendp001|107|    R|
|padj|ARI201508280|vendp001|110|    L|
|padj|ARI201508300|vendp001|167|    R|
|padj|ARI201508300|vendp001|181|    L|
|padj|ARI201508300|vendp001|183|    R|
|padj|BAL201508150|vendp001|118|    R|
|padj|BAL201508150|vendp001|120|    L|
|padj|BAL201508170|vendp001|125|    R|
|padj|BAL201508170|vendp001|127|    L|
|padj|BAL201508170|vendp001|129|    R|
+----+------------+--------+---+-----+
only showing top 10 rows

root
 |-- comment: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- seq: long (nullable = true)

+--------------------+------------+---+
|             comment|     game_id|seq|
+--------------------+------------+---+
|"Debut game for A...|ANA201004080|146|
|"$the throw home ...|ANA201004090| 52|
|"Debut game for B...|ANA201004090|112|
|                 "ej|ANA201004210| 85|
|"$Tigers left fie...|ANA201004210| 86|
|"called third str...|ANA201004210| 87|
|"Tigers left fiel...|ANA201004220| 99|
|"$Yankees Mark Te...|ANA201004230| 72|
|"though Wilson wa...|ANA201004230| 73|
| "into Wilson's head|ANA201004230| 74|
+--------------------+------------+---+
only showing top 10 rows

root
 |-- game_date: date (nullable = true)
 |-- game_date_seq: long (nullable = true)
 |-- game_id: string (nullable = true)
 |-- home: string (nullable = true)

+----------+-------------+------------+----+
| game_date|game_date_seq|     game_id|home|
+----------+-------------+------------+----+
|2010-04-05|            0|ANA201004050| ANA|
|2010-04-05|            0|ARI201004050| ARI|
|2010-04-05|            0|ATL201004050| ATL|
|2010-04-09|            0|BAL201004090| BAL|
|2010-04-04|            0|BOS201004040| BOS|
|2010-04-05|            0|CHA201004050| CHA|
|2010-04-12|            0|CHN201004120| CHN|
|2010-04-05|            0|CIN201004050| CIN|
|2010-04-12|            0|CLE201004120| CLE|
|2010-04-09|            0|COL201004090| COL|
+----------+-------------+------------+----+
only showing top 10 rows

root
 |-- adj: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- key: string (nullable = true)
 |-- seq: long (nullable = true)
 |-- value: string (nullable = true)

+----+------------+--------+---+-----+
| adj|     game_id|     key|seq|value|
+----+------------+--------+---+-----+
|badj|BAL201006110|iztuc001| 67|    R|
|badj|BAL201006110|iztuc001| 87|    R|
|badj|BAL201006110|iztuc001|106|    R|
|badj|BOS201004250|iztuc001| 58|    R|
|badj|BOS201004250|iztuc001| 77|    R|
|badj|BOS201004250|iztuc001|120|    R|
|badj|BOS201005070|swisn001|123|    R|
|badj|BOS201005070|swisn001|152|    R|
|badj|BOS201005280|calla001| 60|    R|
|badj|BOS201005280|calla001| 73|    R|
+----+------------+--------+---+-----+
only showing top 10 rows

done